.SearchHereSettings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  border-radius: 0px 0px 30px 30px;
  background: #fcfcfc;
  z-index: 2;
  padding: 4dvh 30px 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  justify-content: flex-start;
}
.SearchHereSettings__Bar {
  border-radius: 15px;
  background: #fff;
  box-shadow: -6px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
    2px -3px 6px 0px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
  height: 56px;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SearchHereSettings__Bar__Back {
  width: 24px;
  height: 24px;
  cursor:pointer;
}
.SearchHereSettings__Bar__Input {
  width: -webkit-fill-available;
  color: var(--text-fade, #838baa);
  font-family: Overpass;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
  padding: 0px 16px 0px 16px;
}
.SearchHereSettings__Bar__Input:focus {
  border: none;
  outline: none;
}
.SearchHereSettings__Bar__Input::placeholder {
  color: var(--text-fade, #838baa);
  font-family: Overpass;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.SearchHereSettings__Bar__Mic {
  width: 24px;
  height: 24px;
}
