.DetailTodayCard {
  width: 65px;
  height: 100%;
  display: flex;
  padding: 12px 10px 12px 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.DetailTodayCard-ToTime {
  border-radius: 18.543px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.927142858505249px);
  border: 2px solid #aec5da;
}
.DetailTodayCard__Label {
  color: #fff;
  text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 16.689px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.DetailTodayCard__Icon {
  width: 46px;
  height: 46px;
}
.DetailTodayCard__Date {
  color: #fff;
  text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 16.689px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
