.DetailSettingsBack {
  text-decoration: none;
  color: #fff;
  text-shadow: -1.854285717010498px 2.781428575515747px 0.927142858505249px
    rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 22.251px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.DetailSettingsBack__Icon {
  width: 30px;
  height: 30px;
}
.DetailSettingsBack__Title {
  height: 30px;
  text-align: center;
  line-height: 35px;
}
