.DetailTodayHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
}
.DetailTodayHeader__Label {
  color: #fff;
  text-shadow: -1.854285717010498px 2.781428575515747px 0.927142858505249px
    rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 22.251px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.DetailTodayHeader__Today {
  color: #fff;
  text-shadow: -1.854285717010498px 2.781428575515747px 0.927142858505249px
    rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 16.689px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
