.HomeSettingsChoice {
  display: flex;
  flex-direction: row;
}
.HomeSettingsChoice__LocationIcon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px -15px 30px rgba(0, 0, 0, 0.2));
}
.HomeSettingsChoice__Label {
  color: #fff;
  text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px 20px 0px 17px;
}
.HomeSettingsChoice__DropIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
