.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 100dvh;
  max-width: 100vw;
  position: relative;
}
.App__Wallpaper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  object-fit: cover;
}
/* 
TODO:Сrutch.
*/
.App:has(.SearchHere-Show) .App__Wallpaper {
  animation: hideImage 1s forwards;
}
@keyframes hideImage {
  to {
    content: "";
    background-color: #fcfcfc;
  }
}
@keyframes showColor {
  to {
    opacity: 1;
  }
}
