.AppGeneralMobile {
  box-sizing: border-box;
  padding-top: 6dvh;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background: var(
    --linear-blue-bg,
    linear-gradient(225deg, #47bfdf 0%, #4a91ff 100%)
  );
}
.AppGeneralMobile:has(.Home){
  padding-bottom: 6dvh;
}
.AppGeneralMobile__WallpaperLeftLine {
  position: absolute;
  top: 92px;
  left: -25px;
  width: 112px;
  height: 235px;
  z-index: 0;
}
.AppGeneralMobile__WallpaperRightLine {
  position: absolute;
  top: -54px;
  right: -70px;
  width: 425px;
  height: 366.5px;
  z-index: 0;
}
